@if (ChildContent is not null || _displayString != string.Empty)
{
    <MudText><span style="font-weight: bolder">@Label: </span> @ChildContent@Value</MudText>
}


@code {

    [Parameter]
    public string Label { get; set; } = string.Empty;
    
    [Parameter]
    public object? Value { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string _displayString = string.Empty;
    
    protected override void OnParametersSet()
    {
        _displayString = Value?.ToString() ?? string.Empty;
        
        base.OnParametersSet();
    }

}
